@model MovieApp.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}
<div class="row">
    <div class="col-md-9 col-md-offset-3">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <section id="associationForm">
                <h2>Associate your @ViewBag.ProviderDisplayName account.</h2>
                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="control-form", role="form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <p>
                            You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.
                        </p>
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)

                                @Html.HiddenFor(m => m.ExternalLoginData)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" style="float: right; margin-top: 15px" class="btn btn-primary" value="Register" />
                            </div>
                        </div>
                    </fieldset>
                }
            </section>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
